<a href="https://colab.research.google.com/github/SeongBeomLEE/Study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%84_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%8B%B5%EA%B2%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# map 함수 사용

In [1]:
def solution(mylist):
  answer = []
  for i in mylist:
    answer.append(len(i))
  
  return answer

In [2]:
solution([[1],[2]])

[1, 1]

In [3]:
def solution(mylist):
  return list(map(len, mylist))

In [4]:
solution([[1],[2]])

[1, 1]

# 몫과 나머지 - divmod

In [5]:
a = 7
b = 5
print(a//b, a%b)

1 2

In [8]:
a = 7
b = 5
print( *divmod(a, b) )

1 2

# n진법으로 표기된 string을 10진법 숫자로 변환하기 - int 함수

In [24]:
num = '3212'
base = 5

answer = 0
# enumerate 인덱스와 값을 같이 반환 해줌
for idx, i in enumerate(num[::-1]):
  print(idx,i)
  answer += int(i) * ( base ** idx )
print(answer)

0 2
1 1
2 2
3 3
432

In [23]:
num = '3212'
base = 5
# int는 문자형 num을 base의 진법에 맞춰서 10진수로 변환해줌
answer = int(num, base)
print(answer)

432

# 문자열 정렬하기 - ljust, center, rjust

In [30]:
s = '가나다라'
n = 7

print(s.ljust(n)) # 좌측 정렬
print(s.center(n)) # 가운데 정렬
print(s.rjust(n)) # 우측 정렬

가나다라
  가나다라
   가나다라

# 알파벳 출력하기 - string 모듈

In [38]:
import string 

print(list(string.ascii_lowercase)) # 소문자 abcdefghijklmnopqrstuvwxyz
print(string.ascii_uppercase) # 대문자 ABCDEFGHIJKLMNOPQRSTUVWXYZ
print(string.ascii_letters) #대소문자 모두 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
print(string.digits) # 숫자 0123456789

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789

# 원본을 유지한채, 정렬된 리스트 구하기 - sorted

In [36]:
list1 = [3, 2, 1]
list2 = [i for i in list1] # 또는 copy.deepcopy를 사용
list2.sort()
print(list2)

[1, 2, 3]

In [37]:
list1 = [3, 2, 1]
list2 = sorted(list1)
print(list2)

[1, 2, 3]

# 2차원 리스트 뒤집기 - ⭐️zip⭐️

In [39]:
mylist = [ [1,2,3], [4,5,6], [7,8,9] ]
new_list = [[],[],[]]

for i in range(3):
    for j in range(3):
        new_list[i].append( mylist[j][i] )
new_list

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [40]:
mylist = [ [1,2,3], [4,5,6], [7,8,9] ]
new_list = list(map(list, zip(*mylist)))

new_list

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [44]:
list1 = [1, 2, 3, 4]
list2 = [100, 120, 30, 300]
list3 = [392, 2, 33, 1]
answer = []
for i, j, k in zip(list1, list2, list3):
   answer.append([i,j,k] )
answer

[[1, 100, 392], [2, 120, 2], [3, 30, 33], [4, 300, 1]]

In [45]:
animals = ['cat', 'dog', 'lion']
sounds = ['meow', 'woof', 'roar']
answer = dict(zip(animals, sounds))
answer

{'cat': 'meow', 'dog': 'woof', 'lion': 'roar'}

# 모든 멤버의 type 변환하기 - map

In [47]:
list1 = ['1', '100', '33']
list2 = []
for i in list1:
    list2.append(int(i))

list2

[1, 100, 33]

In [48]:
list1 = ['1', '100', '33']
list2 = list(map(int, list1))
list2

[1, 100, 33]

# sequence 멤버를 하나로 이어붙이기 - join

In [49]:
my_list = ['1', '100', '33']
answer = ''
for i in my_list:
    answer += i
answer

'110033'

In [50]:
my_list = ['1', '100', '33']
answer = ''.join(my_list)
answer

'110033'

# 삼각형 별찍기 - sequence type의 * 연산

In [51]:
n = 3
answer= [123, 456]*n
answer

[123, 456, 123, 456, 123, 456]

# 곱집합(Cartesian product) 구하기 - product

In [54]:
iterable1 = 'ABCD'
iterable2 = 'xy'
iterable3 = '1234'

for i in iterable1:
    for j in iterable2:
        for k in iterable3:
            print(i+j+k,end = " ")

Ax1 Ax2 Ax3 Ax4 Ay1 Ay2 Ay3 Ay4 Bx1 Bx2 Bx3 Bx4 By1 By2 By3 By4 Cx1 Cx2 Cx3 Cx4 Cy1 Cy2 Cy3 Cy4 Dx1 Dx2 Dx3 Dx4 Dy1 Dy2 Dy3 Dy4

In [61]:
import itertools

iterable1 = 'ABCD'
iterable2 = 'xy'
iterable3 = '1234'
for i in itertools.product(iterable1, iterable2, iterable3):
  print(i, end=' ')

('A', 'x', '1') ('A', 'x', '2') ('A', 'x', '3') ('A', 'x', '4') ('A', 'y', '1') ('A', 'y', '2') ('A', 'y', '3') ('A', 'y', '4') ('B', 'x', '1') ('B', 'x', '2') ('B', 'x', '3') ('B', 'x', '4') ('B', 'y', '1') ('B', 'y', '2') ('B', 'y', '3') ('B', 'y', '4') ('C', 'x', '1') ('C', 'x', '2') ('C', 'x', '3') ('C', 'x', '4') ('C', 'y', '1') ('C', 'y', '2') ('C', 'y', '3') ('C', 'y', '4') ('D', 'x', '1') ('D', 'x', '2') ('D', 'x', '3') ('D', 'x', '4') ('D', 'y', '1') ('D', 'y', '2') ('D', 'y', '3') ('D', 'y', '4')

# 2차원 리스트를 1차원 리스트로 만들기 - from_iterable

In [62]:
my_list = [[1, 2], [3, 4], [5, 6]]
answer = []
for i in my_list:
    answer += i
answer

[1, 2, 3, 4, 5, 6]

In [ ]:
# 내가 제일 선호
# 방법4 - list comprehension 이용
answer = [element for array in my_list for element in array]
print(answer)

In [64]:
my_list = [[1, 2], [3, 4], [5, 6]]

# 방법 1 - sum 함수
answer = sum(my_list, [])
print(answer)

# 방법 2 - itertools.chain
import itertools
answer = list(itertools.chain.from_iterable(my_list))
print(answer)

# 방법 3 - itertools와 unpacking
import itertools
answer = list(itertools.chain(*my_list))
print(answer)

# 방법4 - list comprehension 이용
answer = [element for array in my_list for element in array]
print(answer)

# 방법 5 - reduce 함수 이용1
from functools import reduce
answer = list(reduce(lambda x, y: x+y, my_list))
print(answer)

# 방법 6 - reduce 함수 이용2
from functools import reduce
import operator
answer = list(reduce(operator.add, my_list))
print(answer)

# 방법 7 - numpy 라이브러리의 flatten 이용
import numpy as np
answer = np.array(my_list).flatten().tolist()
print(answer)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

# 순열과 조합 - combinations, permutations

In [71]:
import itertools

pool = ['A', 'B', 'C']
print(list(map(''.join, itertools.permutations(pool)))) # 3개의 원소로 수열 만들기
print(list(map(''.join, itertools.permutations(pool, 2)))) # 2개의 원소로 수열 만들기

print(list(map(''.join, itertools.combinations(pool, 3)))) # 3개의 원소로 조합 만들기
print(list(map(''.join, itertools.combinations(pool, 2)))) # 2개의 원소로 조합 만들기

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']
['AB', 'AC', 'BA', 'BC', 'CA', 'CB']
['ABC']
['AB', 'AC', 'BC']

In [96]:
mylist = [2,1]
answer = list(map(list, itertools.permutations(mylist, len(mylist))))
answer.sort()
answer

[[1, 2], [2, 1]]

# 가장 많이 등장하는 알파벳 찾기 - Counter

In [98]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 7, 9, 1, 2, 3, 3, 5, 2, 6, 8, 9, 0, 1, 1, 4, 7, 0]
answer = {}
for number in my_list:
    try:
        answer[number] += 1
    except KeyError:
        answer[number] = 1

print(answer[1]) # 1는 4번 등장
print(answer[3])  # 3은 3번 등장
print(answer[0])  # 0은 2번 등장

4
3
2

In [127]:
import collections
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 7, 9, 1, 2, 3, 3, 5, 2, 6, 8, 9, 0, 1, 1, 4, 7, 0]
answer = collections.Counter(my_list)

print(answer[1]) # 1는 4번 등장
print(answer[3])  # 3은 3번 등장
print(answer[0])  # 0은 2번 등장

4
3
2

In [125]:
import collections
my_str = 'dfdefdgf'
my_str_num = collections.Counter(my_str)
my_str = list(set(my_str))

# 최댓값 찾기
max = my_str_num[my_str[0]]
for i in my_str:
  if max <= my_str_num[i]:
    max = my_str_num[i]

# 최댓값인 문자 찾기
answer = []
for i in my_str:
  if max <= my_str_num[i]:
    answer.append(i)
answer.sort()
print(''.join(answer))

df

# for 문과 if문을 한번에 - List comprehension의 if 문

In [128]:
mylist = [1,2,3,4,5,6]
[i**2 for i in mylist if i % 2 == 0]

[4, 16, 36]

# flag OR for-else

In [129]:
import math

numbers = [int(input()) for _ in range(5)]
multiplied = 1
flag = True
for number in numbers:
    multiplied *= number
    # 제곱수 판별 
    if math.sqrt(multiplied) == int(math.sqrt(multiplied)):
        flag = False
        print('found')
        break

if flag:
    print('not found')

1
2
3
4
5
found

In [ ]:
import math

numbers = [int(input()) for _ in range(5)]
multiplied = 1
for number in numbers:
    multiplied *= number
    if math.sqrt(multiplied) == int(math.sqrt(multiplied)):
        print('found')
        break
else:
    print('not found')

# 두 변수의 값 바꾸기 - swap

In [ ]:
a = 3
b = 'abc'

temp = a
a = b
b = temp

In [ ]:
a = 3
b = 'abc'

a, b = b, a

# 이진 탐색하기 - binary search

In [130]:
def bisect(a, x, lo=0, hi=None):
    if lo < 0:
        raise ValueError('lo must be non-negative')
    if hi is None:
        hi = len(a)
    while lo < hi:
        mid = (lo + hi) // 2
        if a[mid] < x:
            lo = mid + 1
        else:
            hi = mid
    return lo

# 찾는 값의 인덱스를 반환
mylist = [1, 2, 3, 7, 9, 11, 33]
print(bisect(mylist, 3))

2

In [131]:
import bisect
mylist = [1, 2, 3, 7, 9, 11, 33]
print(bisect.bisect(mylist, 3))

3

# 클래스 인스턴스 출력하기 - class의 자동 string casting

In [132]:
class Coord(object):
    def __init__ (self, x, y):
        self.x, self.y = x, y

point = Coord(1, 2)
print( '({}, {})'.format(point.x, point.y) )

(1, 2)

In [133]:
def print_coord(coord):
    print( '({}, {})'.format(coord.x, coord.y) )
print_coord(point)

(1, 2)

In [135]:
class Coord(object):
    def __init__ (self, x, y):
        self.x, self.y = x, y
    def __str__ (self):
        return '({}, {})'.format(self.x, self.y)

point = Coord(1, 2)
print(point)

(1, 2)

# 가장 큰 수, inf

In [136]:
min_val = 99999
min_val > 100000000

False

In [137]:
min_val = float('inf')
min_val > 10000000000

True

In [139]:
max_val = float('-inf')
max_val > 10000000000

False

In [140]:
max_val = float('-inf')
max_val < 10000000000

True

# 파일 입출력 간단하게 하기

In [ ]:
f = open('myfile.txt', 'r')
while True:
    line = f.readline()
    if not line: break
    raw = line.split()
    print(raw)
f.close()

In [ ]:
with open('myfile.txt') as file:
  for line in file.readlines():
    print(line.strip().split('\t'))